node_modules
.next
.git
.gitignore
.env
.env.local
.env.*.local
.vercel
tsconfig.tsbuildinfo
docs
README.md
Dockerfile
docker-compose.yml
.dockerignore
.github
coverage
*.log
npm-debug.log*
.DS_Store
